


.frameParent {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.frame {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    display: flex;
    flex-flow: row wrap;
    width: 10%;
    height: 70px;
    font-size: 1em;
}

.throw1 {
    flex-basis: 50%;
}

.throw2 {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    height: 35px;
    flex-basis: 50%;
}

.frame10 {
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;
    width: 15%;
    height: 70px;
    font-size: 1em;
}

.frame10throw1 {
    flex-basis: 33%;
}

.frame10throw2 {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    height: 35px;
    flex-basis: 33%;
}

.frame10throw3 {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    height: 35px;
    flex-basis: 33%;
}

.totalScore {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    display: flex;
    flex-flow: row wrap;
    width: 15%;
    height: 70px;
    font-size: 1em;
}

.scoreParent {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 20px;
}

.scoreButton {
    margin: 10px;
}


